.inputStyle {
  padding: 0.5rem;
  border: 1px solid var(--color-primary);
  outline: none;
  border-radius: 10px;
  width: 100%;
}
.selectStyle {
  margin: 1rem 0;
  select {
    padding: 0.5rem;
    border: 1px solid var(--color-primary);
    outline: none;
    border-radius: 10px;
    background: var(--color-background);
  }
}

.label {
  margin-top: 1rem;
}
.error {
  color: tomato;
}
