@import 'assets/styles/colors.module.scss';

.event {
  cursor: pointer;
  background: $info;
  color: $white;
  padding: 0.5rem;
  width: 100%;
  border-radius: 7px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteBtn {
  margin-left: 0.5rem;
  color: red;
  font-size: 1.5rem;
}

.buttonsGroup {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  button {
    margin: 0 1rem;
  }
}
