@import 'assets/styles/colors.module.scss';

.event {
  cursor: pointer;
  background: $info;
  color: $white;
  padding: 0.5rem;
  width: 100%;
  border-radius: 7px;

  i {
    margin-left: 0.5rem;
  }
}

.buttonsGroup {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  button {
    margin: 0 1rem;
  }
}
